<!DOCTYPE HTML>
<html lang="en" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title><%= @item[:title] %> - WaSABi SI 2015 West</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link href="http://fonts.googleapis.com/css?family=Domine:400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width,maximum-scale=1">
  </head>
  <body>
    <header>
      <hgroup>
        <h1 id="maintitle"><a href="/">WaSABi 2015 West</a></h1>
        <h2>
          ISWC-2015
          <br>
          October 11,12, 2015, Bethlehem, PA, USA
        </h2>
        <h3>4th International Workshop on Semantic Web Enterprise Adoption and Best Practice</h3>
      </hgroup>
    </header>
    <nav>
      <ul>
        <% @items.find_all{|c| c[:extension] =~ /^md/}.
                  sort{|a,b| a[:filename] <=> b[:filename]}.
                  sort{|a,b| (a[:order] || 10) <=> (b[:order] || 10)}.
                  each do |page| %>
          <li<%= @item == page ? ' class="active"' : '' %>><%= link_to(page[:title], page.reps[0]) %></li>
        <% end %>
      </ul>
    </nav>
    <div id="main">
      <h1><%= @item[:header] || @item[:title] %></h1>
      <%= yield %>
    </div>
    <footer>
      <p>
        &copy;2012–2015 the WaSABi organizing committee
      </p>
    </footer>
    <div id="background">
      <div id="decoration">&nbsp;</div>
    </div>

        <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-47515960-1']);
  _gaq.push(['_setDomainName', 'wasabi-ws.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
